body {
	font-family: sans-serif;
}

.header {
	background: #000;
	padding: 20px;
}

.header h1 {
	color: #fff;
}

.nav li {
	color: #fff;
}

.nav:first-child {
	background: #666;
	padding: 10px;
}

.footer {
	background: blue;
	padding: 20px;
}

